@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --text-color: #121212;
  --background-color: #fafafa;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  text-align: center;
  margin: 3rem 0 0.5rem;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.hero-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-btn a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.hero-btn a:hover {
  background-color: transparent;
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
  border: 1px solid var(--primary-color);
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.hero-image img {
  width: 100%;
  max-width: 800px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin: 7rem 0;
  flex-wrap: wrap;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-text {
  width: 60%;
}

.about-image {
  width: fit-content;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.about-keywords {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.about-keywords h4 {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 2.5rem;
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }

  .logo img {
    width: 30px;
    height: 30px;
  }

  .hero-container {
    height: 90vh;
  }

  .about-container {
    flex-direction: column-reverse;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 470px) {
  .hero-text {
    margin-top: 6rem;
  }

  .hero-text h1,
  .about-text h2 {
    font-size: 3rem;
  }

  .about-keywords {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .hero-text h1,
  .about-text h2 {
    font-size: 2.4rem;
  }

  .hero-text p,
  .hero-text a {
    font-size: 0.9rem;
  }

  .hero-btn {
    flex-direction: column;
    max-width: max-content;
    margin: 2rem auto 0;
  }
}
